.caixa{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../imagens/food-background.jpg);
}

nav {
    position:absolute;
    top: 110px;
    right: 100px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    transition: 1s;
}

nav a:hover{
    color:#c78c19;
    text-decoration: underline;
    transition: 5s;
    transition-timing-function: cubic-bezier(.13,.75,.94,.21);
}

.logo {
    text-align: center;
    position: relative;
    width: 40%;
   
}    

.logo-imagem {
    
    max-width: 200px;
}

header{
    width: 100%;
    height: 100%;
    background-color:#2F4F4F;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 1vw 10vw;
}

.gallery-items{
    width: 400px;
    height: 250px;
    border: 30px solid black;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 5;
    transition: transform 2s linear;
}

.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items:hover{
    transform: scale(1.3);
}

footer {
    position: absolute;
    bottom:-80%;
    background-color:black;
    background-color:#2F4F4F;
    color:red (0, 0, 0);
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 150%;
}

form{
    margin: 40px 20px;
    font-weight: bold;
    font-size: 18px;
    color:black;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 10px 0 0;
}

.input-padrao{
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 50%;
}

.enviar{
    background: orange;
    color:white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}